
{% block content %}
<h3>Thank You for becoming a donor!</h3>


            {% for row in rows %}
                <td><h3>{{row.firstname }}</h3></td>
                <td><h3>{{row.lastname }}</h3></td>
                <td><h3>{{row.address }}</h3></td>
                <td><h3>{{row.city }}</h3></td>
                <td><h3>{{row.state }}</h3></td>
                <td><h3>{{row.postalcode }}</h3></td>
                <td><h3>{{row.country }}</h3></td>
                <td><h3>{{row.bloodgroup }}</h3></td>
                <td><h3>{{row.phonenumber }}</h3></td>
                <td><h3>{{row.email }}</h3></td>
                <td><h3><small>{{ row.created_at }} </small></h3> </td>
            {% endfor %}    

{%endblock%}